<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>home</title>
        <meta charset="utf-8">
        <meta name="color-scheme" content="only light">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- loads variable as a global to feed into associated script -->
        <script>
            var tableList = {{ tableList|safe }}
            var fencers = {{fencers|safe}}
        </script>
        <!-- generate the table (hopefully) -->
        <script src="{{ url_for('static', filename='populate.js') }}" defer></script>
        <!-- runs code making the table responsive -->
        <script src="{{ url_for('static', filename='script.js') }}" defer></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>

    <body>
        <table id="table">

        </table>
    </body>
</html>